@import './config';

.login{
    height: 100vh;
    background-color: $lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;

    div:nth-child(1){
        @include flex(center, center);
    }

    div:nth-child(2){
    }
}

.loginContainer{
    background-color: white;
    height: 60vh;
}